body { 
    margin:0; 
    padding:0; 
    font-family: sans-serif;
    background-color: #448ee4;
}

#map{
    width: 100%;
    height: 800px;
    margin: 24px 0;
    background: #448ee4;
}

#header{
    position: fixed;
    z-index: 401;
    margin-left: 55px;
    margin-top: 10px;
    background-color: #6f7174;
    color: whitesmoke;
    padding: 15px;
    padding-bottom: 1px;
    border-radius: 5px;
    box-shadow: 8px 8px 10px #888888;
}

h1{
    display: inline;
    margin-left: 15px;
    /*text-transform: uppercase;*/
    font-weight: normal;
    color: whitesmoke;
}

h2{
    display: inline;
    margin-left: 100px;
    font-weight: normal;
    color: whitesmoke;
}

#location-info{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    font-weight: normal;
    color: whitesmoke;   
}

.footer {
    background-color: #6f7174;
}

#fourmileIcon {
    margin-left: 850px;
}

#website a {
    margin-left: 725px;
}

#website a:link {
    color: #9ec754;
}

#website a:visited {
    color: whitesmoke;
}

#website a:hover {
    color: #9ec754;
}

.floaterButton {
    position: absolute;
    z-index: 999;
}

#buttonContainer {
    position: fixed;
    z-index: 403; 
    top: 155px;
    left: 3px;
}

#buttonContainer img {
    margin-right: 5px;
    width: 25px;
}

#fourmileButton {
    margin: 8px;
    padding: 6px;
    background-color: #9ec754;
    border-radius: 6px;
    font-size: 14px;
    font-weight: normal;
    border: 2px solid rgba(0, 100, 0, 0.5);
    box-shadow: 8px 8px 10px #888888;
}

button:hover {
    cursor: pointer;
    background-color: #9ec754;
    color: white;
}

.floaterLegend {
    position: fixed;
    z-index: 410;
    top: 220px;
    left: 3px;
}

#legend {
    margin: 8px;
    padding: 6px;
    background-color: #9ec754;
    opacity: 0.9;
    border-radius:6px;
    border: 2px solid rgba(0, 100, 0, 0.5);
    box-shadow: 8px 8px 10px #888888;
}

#bridge img {
    margin-right: 5px;
}

#culvert img {
    margin-right: 5px;
}

#basemaps-wrapper {
    position: fixed;
    top: 15px;
    right: 10px;
    z-index: 402;
    background: #9ec754;
    padding: 10px;
    box-shadow: 8px 8px 10px #888888;
}

#basemaps {
    margin-bottom: 5px;
}